@import "fonts.scss";

#header {
  padding: 2rem 4rem;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
}

#footer {
  font-family: "lato-itallic";
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #393939;
  opacity: 1;
  padding: 3rem 5rem;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;

  .footerRight {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  .footerRight img {
    width: 19px;
    margin-left: 4rem;
  }
}
