@font-face {
  font-family: "lato-itallic";
  src: url("../css/fonts/lato/Lato-Italic.ttf");
}

@font-face {
  font-family: "lato-regular";
  src: url("../css/fonts/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "lato-light-regular";
  src: url("../css/fonts/lato/Lato-Light.ttf");
}

@font-face {
  font-family: "lato-black-regular";
  src: url("../css/fonts/lato/Lato-Black.ttf");
}

@font-face {
  font-family: "caveat-regular";
  src: url("../css/fonts/Caveat/Caveat-Regular.ttf");
}

@font-face {
  font-family: "caveat-bold";
  src: url("../css/fonts/Caveat/Caveat-Bold.ttf");
}
